.App {
  text-align: center;
}

.bar{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:rgb(27, 65, 109);
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.title{
  font-size: 1.9rem;
}
.categList{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.categ{
  margin: 10px;
}
.btn{
  font-size: 1.2rem;
  background-color: rgba(0, 140, 255, 0.308);
  border-radius: 10px;
  border-style: none;
  color: aliceblue;
  
}