.App {
  text-align: center;
}

.bar{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:rgb(27, 65, 109);
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.title{
  font-size: 1.9rem;
}
.categList{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.categ{
  margin: 10px;
}
.btn{
  font-size: 1.2rem;
  background-color: rgba(0, 140, 255, 0.308);
  border-radius: 10px;
  border-style: none;
  color: aliceblue;
  
}
.itemList{
  display: flex;
  flex-wrap: wrap;


}
.cart{
  max-width: 35px;
}
.product{
  list-style: none;
}
.counter{
  left: 10px;
  width: 300px;
  height: 140px;
  background-color: antiquewhite;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.itemCount{
  width: 250px;
  border-radius: 15%;
  border: 1px solid rgba(0, 140, 255, 0.301);
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.2rem;
}
.btnCounter{
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 110, 255, 0.555);
  font-size: 2rem;
}
.btnAddCart{
  width: 230px;
  height: 35px;
  margin-top: 20px;
  border-radius: 10%;
  border:1px solid rgba(0, 140, 255, 0.301);
  background-color: white;
  font-size: 1rem;
  color: rgba(0, 110, 255, 0.555);

}
.productCard{
  width:200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.productImg{
  max-width:100%;
}
.productList{
  list-style: none;
}
.itemDetail{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1/2fr 1fr;
  grid-template-areas:"title title"
                      "img detail";
  grid-row-gap: 10px;
}
.nameDetail{
  grid-area: title;
  text-align: center;
}
.imgDetail{
  grid-area: img;
  max-width: 90%;
}
.descriptionDetail{
  grid-area: detail;
}
.priceDetail{
  grid-area: detail;
}
.logo{
  max-width: 35%;
}
.cartImg{
  max-width: 100px;
}